/* Navbar */
.Navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: all .3s ease-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  0 20px;
  padding-top: 18px;
  padding-bottom: 8px;
  z-index: 1000;
  max-width: 1350px;
  margin: 0 auto;
}

.Navbar_link{
  display: flex;
  gap: 20px;
}
.Navbar_link a:hover{
  color: var(--primary-color);
}
.Navbar_link_active{
  color: var(--primary-color);
}
.Navbar_left{
  display: flex;
  align-items: center;
  gap: 80px;
}
.Navbar_logo{
  cursor: pointer;
}
.Navbar_logo p{
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.Navbar_logo span{
  font-size: 20px;
  font-weight: 400;
}
.Navbar_right{
  display: flex;
  gap: 20px;
}
.Navbar_mobile_menu{
  /* background-color: var(--action-color); */
  backdrop-filter: blur(80px);
  box-shadow: 0px 5px 25px rgba(83, 116, 131, 0.16);
  border: 1px solid #ccc;
  position: absolute;
  height: 100vh;
  top: 50px;
  left: 0;
  right: 0;
  transform: translateX(440px);
  /* transition: all .3s ease-out; */
  opacity: 0;
  visibility: hidden;
}
.Navbar_mobile_menu_active{
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}
.Navbar_menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Navbar_menu a{
  color: white;
  padding: 20px;
  border: 1px solid #ffffff21;
  width: 100%;
  text-align: center;
}
.Navbar_menu a:hover{
  box-shadow: -14.142px 14.142px 20px 0px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 645px) {
  .Navbar_link{
    display: none;
  }

}

@media only screen and (min-width: 645px) {
  .Navbar_mobile{
    display: none;
  }
}
/* Navbar End*/





/* Valued Icon */
.ValuedIcon{
  position: relative;
  cursor: pointer;
}
.ValuedIcon span{
  color: var(--active-color);
}
.ValuedIcon:hover span{
  color: var(--primary-color);
}
.ValuedIcon p{
  position: absolute;
  top: -5px;
  left: 14px;
  font-size: 10px;
  height: 14px;
  width: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--action-color);
  color: white;
}
.ValuedIcon span{
  font-size: 21px;
}
/* Valued Icon End */



/* Hero section */
.Hero_bg{
  min-height: 100vh;
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./images//s7.jpg');
}
.Hero_content{
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 32px;
  height: 100vh;
  display: flex;
  gap: 30px;
  flex-direction: column;
  max-width: 1350px;
  align-items: start;
  justify-content: center;
}
.Hero_content h3{
  font-size: 28px;
 
}
.Hero_content h1{
  font-size: 60px;
  color: var(--active-color);
  font-weight: 900;
  font-family: 'Cinzel', serif;
}
/* Hero section End */





/* Button */
.primary_button {
  background-color: var(--action-color);
  border: none;
  color: white;
  min-width: 158px;
  height: 46px;
  font-size: 15px;
  border-radius: 40px;
  animation: bounce 1s infinite; /* Apply the bounce animation */
  box-shadow: -14.142px 14.142px 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); /* No vertical movement at these points */
  }
  40% {
    transform: translateY(-10px); /* Bounce up at 40% */
  }
  60% {
    transform: translateY(-5px); /* Bounce down at 60% */
  }
}
.primary_button:hover{
  background-color: #222222;
  animation: none;
}



/* Action Button */
.Action_button{
  background-color: var(--primary-color);
  padding: 10px 35px;
  font-size: 15px;
  color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-weight: 500;
  width: 100%;

}
.Action_button:hover{
  background-color: #222;
  color: #fff;
}



/* OutlineButton */
.OutlineButton {
  display: inline-flex; 
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  gap: 3px;
  height: 35px;
  padding: 10px;
  cursor: pointer;
}
.OutlineButton:hover{
  background-color: var(--primary-color);
}
.OutlineButton:hover p , .OutlineButton:hover span{
  color: white;
}
.OutlineButton span {
  display: contents; 
}




/* CurveButton */
.CurveButton button{
  background-color: #e6e6e6;
  padding: 10px 35px;
  font-size: 15px;
  color: #222;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}
.CurveButton button:hover{
 background-color: #222;
 color: white;

}




/* CurveButton */
.BlackButton button{
  background-color: #222;
  padding: 10px 35px;
  font-size: 15px;
  color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  width: 100%;
}
.BlackButton button:hover{
 background-color: var(--primary-color);
 color: white;

}



/* Footer_button */
.Footer_button{
  background-color: var(--primary-color);
  padding: 10px 35px;
  font-size: 15px;
  color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}
.Footer_button:hover{
  background-color: #fff;
  color: var(--primary-color);
}




/* Button Group */
.ButtonGroup{
  background-color: #e6e6e6;
  color: #888;
  display: flex;
  /* border: 2px solid #e6e6e6; */
  border-radius: 2px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.ButtonGroup_btn{
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ButtonGroup_btn:hover{
 background-color: var(--primary-color);
 color: #fff;
}

.ButtonGroup input{
 outline: none;
 width: 40px;
 height: 30px;
 border: none;
 text-align: center;
}
.ButtonGroup input[type="number"]::-webkit-inner-spin-button,
.ButtonGroup input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
.ButtonGroup input[type="number"] {
  -moz-appearance: textfield;
}


/* CurveButton End*/
/* OutlineButton End */
/* Button End */
/* Button End */
/* Button End */
/* Button End */




/* Category */
.Category{
  max-width: 1350px;
  margin: 0 auto;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px 32px;
  gap: 20px;
}
.Category_content{
  flex: 1;
  min-width: calc(33.33% - 20px);

  background-image: url('./images/2.png');
  background-position: right;
  background-repeat: no-repeat;
  min-height: 300px;
  width: 100%;
 
  padding: 20px;
  border: 1px solid #33333319;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 170px;
  cursor: pointer;

  position: relative;
  overflow: hidden;
}

.Category_content:hover {
  background-color: var(--action-color);
  box-shadow: 0px 5px 25px rgba(83, 116, 131, 0.16);
}
.Category_content:hover::after {
  content: "Shop Now";
  position: absolute;
  bottom: 10px;
  color: var(--action-color);
  opacity: 1;
}

.Category_content h3{
  font-size: 28px;
  font-weight: 700;
  color: var(--active-color);
}
.women{
  background-image: url('./images/1.png');
}
.kid{
  background-image: url('./images/3.png');
}

@media (max-width: 1024px) {
  .Category_content {
    /* min-width: calc(50% - 20px); */
    flex: 0 0 calc(50% - 20px);

  }
}

@media (max-width: 680px) {
  .Category_content {
    /* min-width: 100%;   avabe dile 3 no item full width nibe */
    flex: 0 0 100%;
  }
}

/* Category End */





/* Product Overview */
.ProductOverview{
  max-width: 1350px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 32px;

}
.ProductOverview h1{
  font-size: 36px;
  color: #222;
  font-weight: 600;
  margin-bottom: 16px;
}
.ProductOverview_hadder{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.ProductOverview_links{
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  cursor: pointer;
  color: #666;
  text-decoration:none;
}.ProductOverview_links li:hover {
  text-decoration: underline;
  color: var(--active-color);
}
.ProductOverview_buttons{
  display: flex;
  gap: 10px;
}
/* Product Overview End */











/* ProductCard */
.Products{
  max-width: 1360px;
  padding: 0 32px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
/* ProductCard End */


/* ProductCard */
.ProductCard {
  position: relative;
  overflow: hidden;
  /* max-width: 300px; */
  flex: 1;
  /* min-width: calc(20% - 20px);  */
  /* max-width: 400px; */
}
.ProductCard_content{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.ProductCard_content_icon{
  cursor: pointer;
  font-size: 30px;
}
.ProductCard_content_icon:hover {
  color: red; /* Change the color to red on hover */
}
.ProductCard .ProductCard_img {
  position: relative;
  overflow: hidden;
}
.ProductCard .ProductCard_button {
  position: absolute;
  bottom: -50px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: all 0.5s ease-out; 
}
 .ProductCard:hover .ProductCard_button {
  bottom: 20px; 
  opacity: 1; 
  transform: translateY(0);
  left: 50%;
  transform: translateX(-50%);
}
.ProductCard:hover .ProductCard_img img {
  transform: scale(1.2);
  transition: transform 0.8s; 
}
.ProductCard_content span{
  color: #666;
  font-weight: 600;
} 

/* Extra Large Screen */
@media (min-width: 1600px) {
  .ProductCard {
    flex: 0 0 calc(20% - 20px);
  }
}

/* Large Screen */
@media (min-width: 1200px) and (max-width: 1599px) {
  .ProductCard {
    flex: 0 0 calc(25% - 20px);
  }
}

/* Desktop */
@media (min-width: 992px) and (max-width: 1199px) {
  .ProductCard {
    flex: 0 0 calc(33.33% - 20px);
  }
}

/* Tablet */
@media (min-width: 681px) and (max-width: 991px) {
  .ProductCard {
    flex: 0 0 calc(50% - 20px);
  }
}

/* Mobile */
@media (max-width: 680px) {
  .ProductCard {
    flex: 0 0 100%;
  }
}
/* ProductCard  End*/








/* Footer */
.Footer_bg{
  background-color: #222;
  margin-top: 100px;
  padding: 60px 33px;
}
.Footer{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.Footer  div{
  flex: 1;
  display: flex;
  align-items: start;
  gap: 17px;
  flex-direction: column;
  min-width: 300px;
  margin-top: 40px;
}.Footer  div >p{
  text-align: start;
}
.Footer h3{
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 20px;
}
.Footer a, .Footer p{
  color: #b2b2b2;
} 
.Footer a:hover{
  color: var(--primary-color);
}
.Footer_bg h5{
  margin-top: 90px;
  color: #b2b2b2;
}

.Footer_input {
  border: none;
  border-bottom: 2px solid #cccccc79;
  transition: border-color 0.3s, transform 0.3s; 
  width: 100%;
  max-width: 500px;
  padding: 10px;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  color: #b2b2b2;
}

.Footer_input:focus {
  border-color: var(--primary-color);
  transform: scaleX(1.05); 
}
.Footer_icons{
  display: flex;
  flex-direction: row !important;
}
.Footer_icons a{
  font-size: 26px;
}
/* Footer End */



/* Modal */
.Modal_opacity {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  visibility: hidden;
  transition: all .3s ease-out
}
.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  min-height: 500px;
  width: 95%;
  max-width: 1245px;
  background-color: #fff;
  z-index: 1001;
  margin-right: 90px;
  visibility: hidden;
  transition: all .3s ease-out
}
.show {
  visibility: visible;
}
.show .Modal {
  transform: translate(-50%, -50%) scale(1);
}
.Modal-wrapper p:first-child{
  position: absolute;
  top: -30px;
  right: 0;
  font-size: 23px;
  cursor: pointer;
}
.Modal-wrapper p:first-child:hover{
  color: #fff;
}
@media (max-width: 479px) {
  .Modal-wrapper p:first-child{
    top: 9px;
    right: 15px;
    color: #222;
  }
}
  /* Modal End */



  /* Product Details */
  .ProductDetails{
    display: flex;
    padding: 50px 18px;
    gap: 40px;
  }
  .ProductDetails_qty{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .ProductDetails_img{
    flex: 1;
    display: flex;
    gap: 10px;
  }
  .ProductDetails_imgList{
    flex: 1;
    cursor: pointer;
  }
  .ProductDetails_carousel{
    flex: 6;
  }
  .ProductDetails_content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /* padding-left: 30px; */
  }
  .ProductDetails_content h3{
    font-size: 24px;
    color: #333;
    margin-bottom: 14px;
  }
  .ProductDetails_content h4{
    font-size: 18px;
    color: #333;
    font-weight: 600;
  }
  .ProductDetails_content p{
    font-size: 14px;
    text-align: start;
    color: #666;
  }
  .ProductDetails_star {
    display: flex;
    margin-bottom: 14px;
    margin-top: 10px;
  }
  .ProductDetails_star h5{
    display: flex;
    font-size: 18px;
  }
  .ProductDetails_size{
    margin: 30px 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .ProductDetails_size span{
    margin-right: 10px;
  }
  .ProductDetails_color {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
  }
  .ProductDetails_color span{
    margin-right: 10px;
  }
  .color-circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  .color-circle:hover {
    transform: scale(1.1);
  }
  @media screen and (max-width: 768px) {
    .ProductDetails{
      flex-direction: column;
    }
  }
  /* Product Details End */





/* Sidebar_wrapper */
.Sidebar_wrapper{
  position: relative;
  transition: all .3s ease-out;
}
.Sidebar_opacity{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  /* visibility: hidden; */
}
.Sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 390px;
  background-color: #fff;
  box-shadow: -14.142px 14.142px 20px 0px rgba(0, 0, 0, 0.1);
  transform: translateX(400px);
  z-index: 1002;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding: 30px;
  padding-right: 40px;
}
.Sidebar_active{
  transform: translateX(0);
}
.Sidebar_top_cart{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.Sidebar_top_cart h3{
  font-size: 18px;
  color: #333;
  font-weight: 500;
}
.Sidebar_bottom{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
  margin-bottom: 50px;
}
.Sidebar_bottom h2{
  font-size: 18px;
  color: #222;
}
.Sidebar_bottom_flex{
  display: flex;
  gap: 10px;
}
/* Sidebar_wrapper End */






/* SidebarCartItem */
.SidebarCartItem{
  display: flex;
  gap: 20px;
}
.SidebarCartItem__image{
  height: 80px;
  width: 80px;
}
.SidebarCartItem__content{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
/* SidebarCartItem End */



/* Cart */
.cart_wrapper{
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
}
.cart{
  margin: 0 32px;
  border: 1px solid #e6e6e6;
  flex: 1;
}
.cart_price{
  padding: 0px 30px;
}
.cart_price_wrapper{
  min-height: 200px;
  width: 100%;
  margin-top: 60px;
  padding: 40px;
  background-color: #f3f2ee;
}
.cart_price_wrapper h3{
  margin-bottom: 16px;
  font-size: 20px;
}
.cart_price_flex p , .cart_price_flex span{
  color: #666;
}
.cart_price_flex{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.cart_price_button{
  text-align: right;
  margin-top: 20px;
}
.cart_price h2{
  margin-bottom: 10px;
}
.cart_header{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  color: #5555556c;
  padding: 10px 30px;
  border-bottom: 1px solid #e6e6e6;
}
.CartItem{
  display: flex;
  flex-wrap: wrap;
}
.CartItem_product{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.CartItem_product_img{
  width: 80px; 
  height: 120px; 
  
}
.CartItem_product_content{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.CartItem_product_content h4{
  font-size: 18px;
}
.CartItem_crossqty{
  display: flex;
  align-items: center;
  gap: 10px;
}
.CartItem_delete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px; 
  border-radius: 4px; 
  color: #999; 
  cursor: pointer;
  transition: background-color 0.3s; 

  font-size: 16px; 
}

.CartItem_delete:hover {
  /* background-color: rgba(242, 242, 242, 0.226);
  box-shadow: 0px 5px 25px rgba(83, 116, 131, 0.16); */
  background-color: #f2f2f2;

  
}


.cart_footer{
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 50px;
  padding: 30px 30px;
  /* border-top: 1px solid #99999965; */
  border-radius: 3px;

}
.cart_footer_left{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}
.cart_footer_left input {
  border: 2px solid #ccc;
  border-radius: 40px;
  padding: 10px 20px;
  font-size: 14px;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none; 
}

.cart_footer_left input:focus {
  border-color: var(--primary-color); 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}
/* Cart End*/



/* Cart Item */
.CartItem{
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}
/* Desktop */

@media only screen and (max-width: 1200px) {
  .cart_wrapper {
    flex-direction: column;
    gap: 50px;
  }
}
/* Cart Item End*/



/* Login  */
.Login_bg{
  background: linear-gradient(to right, var(--active-color) 45%, #fff 45%);
  padding: 0 32px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
 align-items: center;
  
}
.Login {
 max-width: 960px;
 min-height: 80vh;
 margin: 0 auto;
 box-shadow: -14.142px 14.142px 20px 10px rgba(0, 0, 0, 0.1);
 display: flex;
 align-items: center;
 flex: 1;

}
.Login_content_toggle{
  position: absolute;
  top: -20px;
  right: 0px;
  color: #333;
  padding: 5px 6px;
  border-radius: 2px;
  font-size: 14px;

  display: flex;
  align-items: center;
  gap: 4px;
}
.Login_content_toggle h6{
  font-size: 25px;
}
.Login_content_toggle:hover{
  cursor: pointer;
  background-color:#3498db2f;
}

.Login_logo {
 /* background-color: red; */
 flex: 1;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.Login_logo h2{
  color: #fff;
  font-size: 18px;
  

}
.Login_logo p{
  color: #fff;

}
.Login_content {
  /* background-color: green; */
  flex: 1;
  padding: 60px 40px;
  position: relative;

}
.Login_content h2{
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  color: #333;
}
.Login_content p{
  margin-top: 30px;
}
.Login_content h4{
  margin-top: 10px;
  text-align: center;
}
.Login_content span:hover{
  text-decoration: underline;
  cursor: pointer;
  color: #3498db;
}
.Login_content a {
  display: block;
  text-align: right;
  text-decoration: none;
  font-size: 13px;
  margin-top: 10px;
}
.Login_content a:hover{
  text-decoration: underline;
  color: #3498db;
}
.Login_content button{
  width:100%;
  background-color: var(--active-color);
  border: none;
  color: #fff;
  padding: 10px 0;
  cursor: pointer;
}
.Login_content button:hover{
  width:100%;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  padding: 10px 0;
}
.Login_socials:before{
  content: "OR";
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
.Login_socials{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Login_socials_btn{
  border: 1px solid #ccc;
  padding: 0px 15px;
  gap: 20px;
  /* justify-content: center; */
  display: flex;
  align-items: center;
  cursor: pointer;
}
.Login_socials_btn:hover{
  text-decoration: underline;
  backdrop-filter: 10px;
}

.Login_socials_btn h4{
  margin-bottom: 9px;
  flex: 1;
}
.Login_socials_btn_icon{

  font-size: 25px;
  color: #3498db;
}
@media (max-width: 680px) {
  .Login {
    flex-direction: column;
  }
  .Login_content {
    flex: 1;
    width: 100%;
    padding: 60px 20px;

  }
  .Login_logo h2{
    color: #333;
  }
  .Login_logo p{
    color: #333;
  }
  .Login_bg{
    background: #fff;
  }
  .Login_content_toggle{
    top: 10px;
  }
  
}
/* Login End */

/* Input  */
.Input{
  position: relative;
}
.Input input {
  width: 100%;
  padding: 3px 0;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  transition: border-color 0.5s ease-in-out;
  color: #666;
}

.Input input:focus {
  border-color: var(--primary-color);
}
.Input_animated_border:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #3498db;
  transition: width 0.3s ease-in-out, left 0.5s ease-in-out;
  
}

.Input input:focus + .Input_animated_border:before {
  left: 0;
  width: 100%;

}
/* Input End */


/* Checkout page */
.Checkout{
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 32px;
  margin-top: 40px;
}
.Checkout_container{
  display: flex;
  flex-wrap: wrap;
}
.Checkout_container_left{
  flex: 55%;
  background-color: #cce5ff;
  padding: 30px;

}
.Checkout_container_right{
  flex: 45%;
  padding: 30px;
  /* background-color: #f8d7da; */

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Checkout_container_right h1{
  font-size: 20px;
  font-weight: 400;
}
.Checkout_container_right h2{
  font-size: 18px;
  margin-top: 20px;
}
.Checkout_container_right_product span{
  font-size: 10px;
  font-weight: 600;
}
.Checkout_container_right_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Checkout_container_right_product{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Checkout_container_right_subtotal{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Checkout_container_right_total{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Checkout_container_right_total p:last-child {
  font-size: 18px;
  color: var(--primary-color);
}
.Checkout_container_right_radio_button{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}
.Checkout_container_right_payment{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 20px;
}
.Checkout_container_right_shipping{
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.Checkout_condition{
  margin-bottom: 10px;
  font-size: 12px;
}
.Checkout_condition a{
  color: #3498db;
}
@media screen and (max-width: 768px) {
  .Checkout_container_left, .Checkout_container_right {
    flex: 100%;
  }
}
/* Checkout page End */




/* All products */
.AllProducts{
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 32px;
  margin-top: 40px;
}
.AllProducts_container{
  display: flex;
  flex-wrap: wrap;
}
.AllProducts_filter{
  flex: 25%;
  min-width: 230px;
  background-color: #cce5ff;
  padding: 30px;

}
.AllProducts_products{
  flex: 75%;
  padding: 30px;
  background-color: #f8d7da;
}
@media screen and (max-width: 768px) {
  .AllProducts_filter, .AllProducts_products {
    flex: 100%;
  }
}
/* All products End */